h2{
    font-family: "Comic Sans MS";
    color: rgb(209, 47, 15); 
    font-size: 50px;
    display: inline-block
}
h1{
    display: block
}
a{
    font-family: "Comic Sans MS";
    color: rgb(209, 47, 15); 
    font-size: 50px;
    display: inline-block
}

iframe{
    font-family: "Comic Sans MS";
    color: rgb(209, 47, 15); 
    font-size: 50px;
    display: block
